<div role="comments">
 <h2>Kommentare</h2>
 <p>
 In den Kommentaren kann Code innerhalb von &lt;pre&gt; &lt;/pre&gt; tags verwendet werden. F&uuml;r Einr&uuml;ckungen bitte Leerzeichen verwenden.  
 </p>

 <div id="disqus_thread"></div>
 <script>
	var disqus_shortname = 'perlhowto'; // required: replace example with your forum shortname
	(function() { // DON'T EDIT BELOW THIS LINE
	 var d = document, s = d.createElement('script');
	 s.src = '//perlhowto.disqus.com/embed.js';
	 s.setAttribute('data-timestamp', +new Date());
	 (d.head || d.body).appendChild(s);
	})();
 </script>

 <noscript>
 <p>
   Bitte JavaScript aktivieren, um die <a href="http://disqus.com/?ref_noscript">Kommentare powered by Disqus</a> an zu zeigen.
 <p>
 </noscript>
 <p>
 <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 </p>
 <script id="dsq-count-scr" src="//perlhowto.disqus.com/count.js" async></script>
</div>
