      <div>
        <h2 class="subheader">Blog Roll</h2>
        <ul class="no-bullet">
          <li><a href="http://planet.perl-magazin.de/">Deutschsprachige Perlblogs</a></li>
          <li><a href="http://reneeb-perlblog.blogspot.com/">Perl Blog Renée B&auml;cker</a></li>
          <li><a href="http://ironman.enlightenedperl.org/">Planet Iron Man</a></li>
          <li><a href="http://perlweekly.com/">Perl Weekly</a></li>
          <li><a href="http://perlsphere.net/">PerlSphere</a></li>
          <li><a href="http://perltricks.com/">Perl Tricks</a></li>
        </ul>
      </div>

