
      <div>
        <h2 class="subheader">Stay Tuned</h2>
        <ul class="no-bullet">
          <li><img src="{{ site.url }}/assets/images/feed.gif" alt="RSS Feed Icon" width="9" height="9" /> <a href="{{ site.url }}/feed.xml" target="_blank">Feed dieser Website abonnieren</a></li>
          <li><img src="{{ site.url }}/assets/images/twitter.png" alt="Twitter Icon" width="9" height="9" /> <a href="https://twitter.com/PerlHowto" target="_blank">Follow me on Twitter</a></li>
        </ul>
      </div>

